:root {
  --background-color: #7E8AA2;
  --main-orange: #ED9B40;
  --main-orange-70opacity: rgba(237, 155, 64, .7);
  --main-black: #1C1C1C;
  --main-black-70opacity: rgba(28, 28, 28, .7);
  --main-red: #A40606;
  --main-red-70opacity: rgba(164, 6, 6, .7);
  --main-green: #7CEA9C;
  --main-green-70opacity: rgba(124, 234, 156, .7);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

#navTopSpace {
  height: 170px;
}

@media (max-width: 1200px) {
  #navTopSpace {
    height: 110px;
  }
}