.main {
  max-width: 100vw;
}

.banner {
  position: relative;
  max-width: 100vw;
  height: 550px;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: #fff;
  font-size: 36px;
  gap: 50px;
  padding: 50px;
}

.servicesCards {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  align-items: center;
  gap: 20px 50px;
}

.servicesWarning {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--main-green);
  order: 5;
  animation: blink 3s infinite;
}

.servicesWarning img {
  margin-left: 5px;
}

.brands {
  font-size: 36px;
  text-align: center;
  max-width: 100vw;
  margin-bottom: 50px;
}

.brands h2 {
  margin-bottom: 50px;
  margin-top: 20px;
}

.aboutUs {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 33vw 33vw 33vw;
  grid-template-areas:
    "banner banner banner"
    "mission vision values"
  ;
  max-width: 100vw;
  background: var(--main-black);
  justify-content: center;
}

.aboutBanner {
  display: flex;
  grid-area: banner;
  position: relative;
  height: 310px;
  justify-content: center;
  align-items: center;
}

.aboutBanner h2 {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 52px;
}

.aboutContent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  height: 600px;
  color: #fff;
  position: relative;

}

.aboutContent h3 {
  color: #fff;
  font-size: 32px;
  margin-top: 18px;
}


.aboutContent p {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
}

.aboutMission {
  grid-area: mission;
  background-color: var(--main-orange-70opacity);
}

.aboutVision {
  grid-area: vision;
  background-color: var(--main-red-70opacity);
}

.aboutValues {
  grid-area: values;
  background-color: var(--main-green-70opacity);
}

@media (max-width: 1400px) {
  .servicesCards {
    grid-template-columns: repeat(2, 1fr);
  }

  .services {
    font-size: 24px;

  }

  .servicesCards {
    grid-template-columns: repeat(1, 1fr);
  }

  .servicesWarning {
    order: 0;
  }

}

@media (max-width: 800px) {
  .banner {
    height: 300px;
  }

  .aboutUs {
    grid-template-columns: 100vw;
    grid-template-areas:
      "banner"
      "mission"
      "vision"
      "values"
    ;
  }

  .aboutBanner {
    height: 120px;
  }

  .aboutBanner h2 {
    font-size: 32px;
  }

  .aboutBanner h2 img {
    width: 80px;
    height: 80px;
  }

  .aboutContent {
    height: 280px;
  }

  .aboutContent h3 {
    font-size: 28px;
  }


  .aboutContent p {
    font-size: 20px;
  }


}

@media (max-width: 650px) {
  .banner {
    height: 200px;
  }
}

@keyframes blink {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
    text-shadow: 0 0 10px #7CEA9C, 0 0 20px #7CEA9C, 0 0 30px #7CEA9C;
  }

  100% {
    opacity: 0%;
    text-shadow: none;
  }
}